# .gitignore for Grails 1.2 and 1.3
logs/*
.idea/
*.iml


# web application files
/web-app/WEB-INF
web-app/css/main.css
web-app/images/grails_logo.jpg
web-app/images/grails_logo.png
web-app/images/leftnav_btm.png
web-app/images/leftnav_midstretch.png
web-app/images/leftnav_top.png
web-app/images/skin/
web-app/images/spinner.gif
web-app/images/springsource.png
web-app/js/application.js
web-app/js/prototype/

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

# misc
*.DS_Store
