body {
    padding-top: 50px;
}

.starter-template {
    padding: 15px 15px;
    text-align: center;
}

#setUpModule {
    display: none;
}

.news-header {
    text-align: left;
}

.news-item-link {
    display: block;
}
.news-item {
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #9d9d9d;
    overflow: hidden;
    padding: 10px 0;
}
.news-item-thumb {
    box-sizing: border-box;
    border-right: 10px solid transparent;
    float: left;
    width: 30%;
    min-width: 110px;
    max-width: 200px;
}
.news-item-thumb img {
    width: 100%;
}
.news-item-title {
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 5px;
}
.news-item-summary {
    font-size: 0.750em;
    padding-top: 5px;

}

.menu-title {
    color: white;
}

.panel-body {
    text-align: left;
}

.news-item-timestamp {
    color: #666666;
    font-size: 0.750em;
}